*{
    box-sizing: border-box;
}

#carousel{
    display: flex;
    flex-direction: row;
    width: 300%;
    height: 700px;
}

.mask{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: calc(100% /3);
    background-color: red;
}

#arrow_left {
    position: absolute;
    width: 150px;
    height: 50px;

    top: calc(350px - 25px);

    filter: invert();
    z-index: 5;
}

#arrow_right {
    position: absolute;
    width: 150px;
    height: 50px;

    top: calc(350px - 25px);
    left: calc(100% - 165px);

    filter: invert();
    z-index: 5;
}

#img_1{
    position: relative;
    width: 100%;
    top : 0;
    left: -100%;

    transition: all 2s;
}

#img_2{
    position: relative;
    width: 100%;
    top : 0;
    left: -100%;

    transition: all 2s;
}

#img_3{
    position: relative;
    width: 100%;
    top : 0;
    left: -100%;

    transition: all 2s;
}